.git
.github
.next
node_modules
.data
coverage
dist
playwright-report
test-results
*.log
.env
.env.*
!.env.example
!.env.prod.example
sha-old
sha-same
specs/release
e2e
**/*.test.ts
**/*.test.tsx
**/__tests__
